.App{
    margin: 0 auto;
    width: 1200px;
    display: grid;
    grid-template-areas:
    "h h"
    "n c";
    grid-template-columns: 100px auto;
    grid-template-rows: 40px auto;
    grid-gap: 15px;
}
.content{
    grid-area: c;
    background: mediumpurple;
    padding: 5px 15px;
}